@model Nation

<h1 class="alert alert-danger text-center">Are you sure you want to delete?</h1>

<div class="row">

	<dl class="row col-6">
		<dt class="col-2">Id</dt>
		<dd class="col-10">@Html.DisplayFor(n => n.Id)</dd>

		<dt class="col-2">@Html.DisplayNameFor(m => Model.NationName)</dt>
		<dd class="col-10">@Html.DisplayFor(n => n.NationName)</dd>

		<dt class="col-2">@Html.DisplayNameFor(m => Model.FifaRanking)</dt>
		<dd class="col-10">@Html.DisplayFor(n => n.FifaRanking)</dd>

		<dt class="col-2">@Html.DisplayNameFor(m => Model.AfricanCupTitles)</dt>
		<dd class="col-10">@Html.DisplayFor(n => n.AfricanCupTitles)</dd>

		<dt class="col-2">@Html.DisplayNameFor(m => Model.FoundationYear)</dt>
		<dd class="col-10">@Html.DisplayFor(n => n.FoundationYear)</dd>

	</dl>

	<div class="col-4">
		<img src="@Model.ImageUrl" id="natImage" class="img-fluid" />
	</div>

</div>

<form method="post" asp-controller="Nations" asp-action="PostDelete">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-controller="Nations" asp-action="GetIndexView">Back to List</a>